# GitHub Token for fetching contributions
VITE_GITHUB_TOKEN=

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_MESSAGE_SENDER=
VITE_FIREBASE_PROJECT_ID=

# Google Analytics
VITE_GOOGLE_ANALYTICS_ID=

# Google Search Console
VITE_GOOGLE_SEARCH_CONSOLE_TOKEN=

# ReCaptcha (if using Firebase App Check)
VITE_RECAPTCHA=
